// Footer.scss

.footer {
    background-color: #000000;
    color: rgb(87, 93, 91);
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
    
    
    a{
        text-decoration: none;
        color: rgb(211, 199, 199);

        
    }
  }
  