.navbar {
    width: 100%;
  
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      .left {
        display: flex;
        align-items: center;
  
        .logo{
          font-family: 'Poppins', sans-serif;
          font-size: 50px;
          margin-left: 50px;
          text-decoration: none;
          color: black;

          &:hover{
              color: rgb(72, 69, 69);
          }
      }
  
        .link {
          text-decoration: none; /* Remove underline */
          color: black;
          margin-right: 20px;
          cursor: pointer;

          &:hover{
            color: rgb(72, 69, 69);
        }
        }
      }
  
      .right {
        display: flex;
        align-items: center;
  
        .icon {
          margin: 0px 15px;
          cursor: pointer;
          color: black;
        }
  
        img {
          width: 30px;
          height: 30px;
          border-radius: 5px;
          object-fit: cover;
          cursor: pointer;
        }
  
        .profile {
          .options {
            display: none;
            background-color: var(--main-color);
            border-radius: 5px;
          }

          .arrow-drop{
            margin-right: 30px;
          }
  
          span {
            padding: 10px;
            cursor: pointer;
          }
  
          &:hover {
            .options {
              display: flex;
              flex-direction: column;
              position: absolute;
              background-color: black;
              color: white;
              z-index: 5;
            }
          }
        }
      }
    }
  }
  